@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font: normal 100%/1.3 Georgia, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

figure {
  margin: 0;
}

.img-flex {
  display: block;
  width: 100%;
}

body {
  margin: 0;
}

.caption {
  background-color: #e2e2e2;
  padding: 1.3rem;
}

h2 {
  font-family: "Denk One", sans-serif;
  margin: 0;
  font-size: 1.5rem;
  padding-bottom: 1.3rem;
}

p {
  margin: 0;
}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  .caption {
    position: absolute;
    bottom: 7.8%;
    right: 4.1%;
    z-index: 1000000;
    width: 58%;
    background-color: rgba(0, 0, 0, .3);
    border-radius: 8px;
    color: #fff;
  }

  .image-card {
    position: relative;
    display: block;
    width: 100%;
    margin: 0;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  .caption {
    bottom: 6.5%;
    right: 3.5%;
    width: 40%;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }

}
